body {
	background: rgb(65, 65, 65);
	background: -moz-radial-gradient(
		circle,
		rgba(65, 65, 65, 1) 0%,
		rgba(40, 40, 40, 1) 45%
	);
	background: -webkit-radial-gradient(
		circle,
		rgba(65, 65, 65, 1) 0%,
		rgba(40, 40, 40, 1) 45%
	);
	background: radial-gradient(
		circle,
		rgba(65, 65, 65, 1) 0%,
		rgba(40, 40, 40, 1) 45%
	);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#414141",endColorstr="#282828",GradientType=1);

	width: 100vw;
	height: 100vh;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#debug {
	color: white;
	font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
	padding: 0px 50px;
}

#debug * {
	height: fit-content;
	margin: 2px;
}
